.bottomToggle {
    position: absolute; 
    bottom: 10px; 
    width: 100px; 
    height: 100px; 
    border-radius: 20px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
}

#toggle {
    right: 120px;
    background-color: green;
    cursor: pointer
}