.CharacterSelect__container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000b7;
}

.CharacterSelect__background {
    height: 70%;
    width: 100%;
    position: absolute;
    top: calc(15% - 50px);
    text-align: center;
    pointer-events: none;
}

.CharacterSelect__content {
    display: inline-block;
    height: 100%;
    width: 70%;
    pointer-events: all;
    background-color: #000000b7;
    border-radius: 100px;
    padding: 50px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.CharacterSelect__content::-webkit-scrollbar {
    display: none;
}


.CharacterSelect__teamHeader {
    display: inline-block;
    width: 263px;
    text-align: center;
    font-size: 48pt;
    font-family: PiratesBay;
    text-shadow: 0 0 3px rgb(255, 255, 255)
}

.CharacterSelect__token {
    display: inline-block;
    height: 120px;
    width: 120px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}