.Dialog__container {
    position: absolute;
    background-color: #00000080;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.Dialog__content {
    opacity: 100%;
    z-index: 1 !important;
    width: 50%;
    height: fit-content;
    max-height: 90%;
    margin: auto;
    border: 4px solid white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.Dialog__message {
    color: white;
    font-family: PiratesBay;
    font-size: 48px;
    margin: 48px 20px 0px 20px;
    text-align: center;
    overflow-wrap: anywhere;
}

.Dialog__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5vh;
}

.Dialog__button {
    color: red;
    padding: 12px;
    font-size: 24px;
    font-family: PiratesBay;
    min-width: 100px;
    margin: auto 10%;
}
