.Token__container {
    height: 150px; 
    width: 150px; 
    position: absolute; 
    background-repeat: no-repeat; 
    background-size: cover; 
    left: 0px; 
    border-radius: 100%; 
    /*background-image: url("/assets/alive_token.png"); */
    pointer-events: all; 
    cursor: move;
}

.Token__image {
    top: 0px;
    left: 5%;
    position: absolute;
    width: 90%;
    height: 90%;
    pointer-events: none;
}

.General__backgroundImage {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
}

.TokenName__textPath {
    fill: black;
    font-family: Dumbledor;
    font-size: 24px;
}

.Token__name {
    position: absolute;
    width: 100%; 
    top:150px; 
    left: 0px;
    height: 35px; 
    text-align: center; 
    font-size: 20pt; 
    font-family: PiratesBay; 
    pointer-events: none; 
    color: white;
}

/* Bit of a kludge to ensure that the dragged token is always on top.*/
.react-draggable {
    position:absolute;
}