.Token__container {
    height: 150px; 
    width: 150px; 
    position: absolute; 
    background-repeat: no-repeat; 
    background-size: cover; 
    left: 0px; 
    border-radius: 100%; 
    /*background-image: url("/assets/alive_token.png"); */
    pointer-events: all; 
    cursor: move;
}

.Token__image {
    top: 0px;
    left: 7.5px;
    position: absolute;
    width: 135px;
    height: 135px;
    pointer-events: none;
}

.General__backgroundImage {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
}

.TokenName__textPath {
    fill: black;
    font-family: Dumbledor;
    font-size: 24px;
}