.SideDropdown__container {
    height: 40px;
    overflow: hidden;
    border-radius: 20px;
    transition: height ease-in-out 0.2s;
    background-color: #ffffff2c;
}

.SideDropdown__container.SideDropdown__open {
    height: 535px;
    /* For testing. */
}

.SideDropdown__toggle {
    width: 100%;
    height: 40px;
    position: relative;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.SideDropdown__toggle::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: background-color ease-in-out 0.2s;
    background-color: #00000000;
}

.SideDropdown__toggle:hover:before {
    background-color: #0000004f;
}

.SideDropdown__toggleImage {
    height: 100%;
    pointer-events: none;
    transition: transform ease-in-out 0.2s;
    display: inline-block;
}

.SideDropdown__open .SideDropdown__toggleImage {
    transform: rotate(180deg);
}

.SideDropdown__content {
    width: 90%;
    margin: 5%;
    height: min-content;
    text-align: center;
}

.SideDropdown__buttonContainer {
    width: 100%;
    height: 70px;
    display: flex;
    flex-flow: nowrap;
}


.SideDropdown__button {
    height: calc(100% - 10px);
    width: calc(calc(100% / 3) - 10px);
    margin: 5px;
    border-radius: 15px;
    background-size: 70%;
    cursor: pointer;
}

.SideDropdown__scriptHeader {
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 30pt;
    font-family: PiratesBay;
}

.SideDropdown__scriptSelect {
    margin-top: 5px;
    font-size: 0.7em;
    font-family: PiratesBay;
    text-align: center;
    height: 1.5em;
    width: 90%;
    text-shadow: 0 0 10px black;
    box-shadow: 0 0 10px darkblue;
    background-position: 50% calc(50% + 0.75em);
    border: none;
    border-radius: 0.5em;
    color: white;
    appearance: none;
    -webkit-appearance: none;
}

.SideDropdown__uploadLabel {
    color: white;
    font-family: PiratesBay;
    background-position: 50% 50%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px darkgreen;
    cursor: pointer;
    transition: 0.2s;
}

.SideDropdown__uploadLabel:hover {
    color: lightgreen;
}

.SideDropdown__scriptName {
    font-size: 20pt;
    background-color:#00000000;
    border: none;
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 30px;
    line-height: 0.8;
    font-weight: bold;
    font-family: PiratesBay;
    text-shadow: 0 0 10px black;
    margin: 0;
    resize: none;
    overflow: hidden
}
.SideDropdown__scriptName:focus {
    outline: 1px #666 groove;
    border-radius: 15px;
}

.SideDropdown__scriptAuthor {
    font-size: 15pt;
    color: white;
    opacity: 0.75;
    height: auto;
    min-height: 15px;
    line-height: 0.8;
    font-weight: bold;
    font-family: PiratesBay;
    text-shadow: 0 0 10px black;
    margin: 0
}

.PlayerCount__header {
    font-family: Piratesbay;
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 30pt;
}

.PlayerCount__container {
    position: relative;
    height: 60px;
    border-radius: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.PlayerCount__button {
    height: 60px;
    background-size: 50%;
    cursor: pointer;
    user-select: none;
    flex-grow: 1;
}

.PlayerCount__input {
    flex-grow: 0.5;
    font-size: 40px;
    text-align: center;
    display: inline-block;
    position: static;
    background-color: grey;
    border: none;
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}
.PlayerCount__input::-webkit-inner-spin-button, 
.PlayerCount__input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}