.General__backgroundImage {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
    pointer-events: none;
}

.Token__container {
    height: 150px; 
    width: 150px; 
    position: absolute; 
    background-repeat: no-repeat; 
    background-size: cover; 
    left: 0px; 
    border-radius: 100%; 
    /*background-image: url("/assets/alive_token.png"); */
    pointer-events: all; 
    cursor: move;
}

.Token__image {
    top: 0px;
    left: 5%;
    position: absolute;
    width: 90%;
    height: 90%;
    pointer-events: none;
}

.TokenShading__focus {
    width: 90%; 
    height: 90%;
    left: 5%;
    top: 5%;
    pointer-events: none;
}

.Token__visibilityIndicator {
    position: absolute; 
    width: 35%; 
    height: 35%; 
    right: 17.5%; 
    bottom: 17.5%; 
}

.TokenName__graphic {
    pointer-events: none;
}

.TokenName__textPath {
    fill: black;
    font-family: Dumbledor;
    font-size: 24px;
}

.Token__deathFlag {
    width: 33.3%; 
    pointer-events: none; 
    position: absolute; 
    left: 33.3%; 
    top: 5%; 
}

.Token__deathNoVote {
    filter: invert(1);
    width: 25%; 
    pointer-events: none; 
    position: absolute; 
    left: 37.5%; 
    top: 17.5%; 
}

.Token__name {
    position: absolute;
    width: 100%; 
    top:150px; 
    left: 0px;
    height: 35px; 
    text-align: center; 
    font-size: 20pt; 
    font-family: PiratesBay; 
    pointer-events: none; 
    color: white;
}


.HiddenToken__deadvote {
    width: 100px; 
    pointer-events: none; 
    position: absolute; 
    left: 25px; 
    top: 25px; 
}

.HiddenToken__roleIndicator {
    width: 80%; 
    height: 80%; 
    position: absolute; 
    top: 10%; 
    left: 10%; 
    pointer-events: none;
}